// font-family
$primery-font-family        : 'Source Sans Pro', sans-serif;
$secondary-font-family      : 'Bungee', cursive;

// font-size
$primery-font-siza          : 24px;

// font-color
$primery-font-color         : #545149;
$secondary-font-color       : #416a59;
$nav-font-color             : #FFFFFF;
$button-font-color          : Azure;
$warning-font-color         : Crimson;
$shadow-font-color          : gold;


// backround
$main-background-color          : #f4f1ec;
$nav-backround-color            : #4056A1;
$header-background-color        : #73a24e;
$scroll-button-backround-color  : firebrick;
$tweet-button-backround-color   : navy;
$header-background-image        : url("/images/subtle-white-feathers.png");
$shadow-color                   : silver;

// font-style
$bold                       : 600;

// border
$tweet-border-top           : 2px solid black;
