.header {
  position: relative;
  z-index: 1;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #73a24e;
  background-image: url("/images/subtle-white-feathers.png");
  color: #416a59;
}
.header .avatar {
  height: 220px;
  align-self: center;
}
.header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .userName {
  position: absolute;
  align-self: flex-end;
}
